<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Shift | Front End Training</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="TrainingApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Front End Training</a>
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle">
                  HTML
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Basics</a></li>
                  <li><a href="#/tags">Tags</a></li>
                  <li><a href="#/tables">Tables</a></li>
                  <li><a href="#/html5">HTML 5</a></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <%= javascript_include_tag "application" %>
</body>
</html>
</html>
